<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">

			<app-window
			icon="fa-key"
			[loading]="loading"
			[showClose]="false"
			[collapsable]="false"
			[title]="'keys.list-title' | transloco">
				<app-table
					[keys]="keys"
					[titles]="titles"
					[items]="items"
					(rowClick)="clickKey($event);"
				></app-table>
			</app-window>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-9"></div>
		<div class="col-sm-3">
			<app-button
				(action)="addNew()"
				type="primary"
				icon="fa-key"
				[caption]="'new' | transloco: { object: 'Key' } "
			></app-button>
		</div>
	</div>
	
</div>